#node_modules ignore
node_modules/
!node_modules/.keep

# vendor ignore
/src/backends/vendor/*
!/src/backends/vendor/.keep
/src/backends/vendor_bin/*
!/src/backends/vendor_bin/.keep

# binary ignore
/src/backends/bin/*
!/src/backends/bin/.keep

# ignore secret files
secret/*
!secret/.keep
